body {
    background-color: lightskyblue;
}
H1 {
    color: darkred;
     background-color: aqua;
      
    }
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;

}
h5{
    color: darkcyan;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}











