body {
    background-color: peachpuff;
}
h1 {
    color: darkorchid;
}
   
  h2   
    {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
 p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }  
p {
   color: blueviolet;
}

 










