body {
    background-color: coral;
}
h1 {
    color: blue;
    background-color: #baa9ad;
    font-style: oblique;
}
h2{
  color: darkmagenta;  
 
}
h {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}









